{% extends "bank/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <a class='btn btn-primary btn-sm' href = "{% url 'newaccount' %}">Add new account</a> 
        </div>
    </div> 
    <h2>All accounts</h2>
    <ul class="list-group">
    {% for account in accounts %}
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h2 class="mb-1">Account name: {{account.name}}</h2>
                <a class="nav-link active" href = "{% url 'details' account.id %}">Details</a>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a class="btn btn-primary btn-sm">Deposit</a>
                {% if account.withdraw %}
                    <a class="btn btn-danger btn-sm">Withdraw</a>
                {%endif%}

            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock body %}