{% extends "bank/layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <a class='btn btn-primary btn-sm' href = "{% url 'newaccount' %}">Add new account</a> 
        </div>
    </div> 
    <h2>All accounts</h2>
    <ul class="list-group">
    {% for account in accounts %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <h2>Account name: {{account.name}}</h2>
                </div>
                <div class="col">
                    <a class="nav-link active" href = "{% url 'details' account.id %}">Details</a>
                </div>
            </div>

            
            
        </li>
        
        
    {% endfor %}
    </ul>
    {% comment %} <div class="row">   
        <h3>Deposit Histoy</h3>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Deposit date</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{account.date}}</td>
                        <td>{{account.amount | floatformat:2}}</td>

                      </tr>
                    {% endfor %}
                </tbody>

        </table>
    </div> {% endcomment %}
</div>

{% endblock body %}